{% extends 'base.html.twig' %}

{% block title %}Flights List{% endblock %}

{% block body %}
<div class="container">
    <h1>Available Flights</h1>
    <p><strong>Destination:</strong> {{ city }}</p>
    <p><strong>Event Dates:</strong> {{ date_debut }} to {{ date_fin }}</p>
    <p><strong>Number of Guests:</strong> {{ nombre_invite }}</p>
    <p><strong>User ID:</strong> {{ userid }}</p>

    <div class="row">
        {% for flight in flights %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ flight.destination }}</h5>
                        <p class="card-text">
                            <strong>Airline:</strong> {{ flight.airline }}<br>
                            <strong>Departure Time:</strong> {{ flight.departureTime|date('H:i') }}<br>
                            <strong>Return Time:</strong> {{ flight.backTime|date('H:i') }}<br>
                            <strong>Type:</strong> {{ flight.type }}<br>
                            <strong>Airports:</strong> {{ flight.aeroports }}<br>
                            <strong>Price:</strong> ${{ flight.price|number_format(2) }}
                        </p>
                        <a href="{{ path('app_flight_select', {
                            'flight_id': flight.flightId,
                            'city': city,
                            'date_debut': date_debut,
                            'date_fin': date_fin,
                            'nombre_invite': nombre_invite,
                            'userid': userid,
                            'id_evenement': id_evenement
                        }) }}" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No flights available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}